pyaudio
websocket-client
google-generativeai 
numpy
PyQt6
huggingface-hub
pyyaml
python-dotenv
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
langchain
langchain-community
sentence-transformers